.App {
  text-align: center;
  background-color: #eceff1;
  height: 100%;
}

.App-header {
  background-color: #1f6bff;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  padding-bottom: 10px;
}
